@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}


html {
    width: 100vw;
    height: 100vh;
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Menu */

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1E272E;
    position: fixed;
    padding-left: 30rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo h3 {
    color: #B36928;
    font-size: 2.5rem;
    font-family: "Dancing Script";
}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    font-size: 1,8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover {
    background-color: #333333;
    border-bottom: 4px solid #ffc506;
    color: #ffc506;
}

/* Primeira seção */


.first-section {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(img/pizzadefundo.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section h1 {
    color: #B36928;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.first-section h2 {
    color: rgb(177 ,177, 177);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #B36928;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}

.btn button:hover {
    border: 1px solid #B36928;
    background-color: transparent;
    color: #B36928;
}

.btn {
    width: 480px;
    display: flex;
    justify-content: space-between;
}